.body{
    width: 100%;
    margin: 0;
    padding: 0 100px 0 100px;
    background-image: url("../css/img/images.jpg")
}

.header {
    background-color:#5f6769;
    display: block;
    font-size: 60px;
    padding: 10px 0px 10px 40px;
    margin: 50px;
    width: 15%;
    color: white;
}

.navigation{
    width: 100%;
}

h1{
    font-size: 35px;
}

.link-list {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    background-color:#7c0a02;
    width: 100%;
}

.link-list li{
    display: inline;
    margin: 30px;
    color: white;

}

.left-article{
    float: left;
    width: 50%;
    margin: 15px 20px 15px 50px;
    text-align: left;
    font-size: 20px;
}

.aside{
    float: right;
    width: 20%;
    margin: 20px;
    background-color:#5f6769;
    padding: 60px 60px 300px 40px;
    color: white;
}

.aside li{
    color: white;
}

.second-header{
    text-align: center;
}


.footer{
    position: fixed;
    left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7c0a02;
  color: white;
  text-align: left;
}

